<nav>
    <div class="site-title">
        <a href="/"><h1>Personal Blog</h1></a>
        <p>A simple website that allows you to view, create, and delete ceratin blog.</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav>